nav,
ul,
li,
a {
  background-color: rgb(17, 30, 54);
}

a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid white;
}

a:hover {
  background-color: #ddd;
}
