table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: rgb(17, 30, 54);
  color: white;
  font-weight: bold;
}

.table-image {
  background-color: gainsboro;
  box-shadow: 5px 5px 15px 5px white;
}

th,
td {
  padding: 6px;
  text-align: center;
}

td {
  background-color: gainsboro;
}

tr:nth-of-type(odd, even) {
  background: gainsboro;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  th tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
